.container {
    width: 25rem;
    margin: auto;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 8px;
}

/* form > mat-form-field {
    background: rgb(205, 90, 195);
} */

.example-section {
    width: 100%;
    display: flex;
    justify-content: first baseline;
    align-items: center;
}
.example-section {
     display: flex;
     justify-content: space-between;
}

.full-width{
    width: 100%;
    margin-top: 1rem;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

h1 {
    text-align: center;
}