<mat-card class="card">

    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Help Desk</mat-card-title>
      <mat-card-subtitle>Em continua manutenção</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image src="assets/img/help-desk.png" alt="Foto da aplicação">
    
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
   
  </mat-card>
  
